# 함수(funtion)
- 함수란 자주 사용하는 코드를 사용하기 쉽게 하나의 이름으로 묶은 것이다.
- 변수가 어떤 값을 바인딩하는 것처럼 함수는 만들어진 어떤 코드를 바인딩한다.
- 함수는 매개변수와 리턴이라는 개념이 있다.

<pre>
<code>
def 함수명 (매개변수(input)) :  
    수행할 문장n
    return 리턴값(output)
</code>
</pre>
```
- def : 함수를 만들 때 사용하는 예약어로 매개변수는 함수에 입력(input)함으로써 전달되는 값을 받는 변수를 말한다.
- 매개변수(parameter) : 함수에 입력으로 전달된 값을 받는 변수 -> 함수의 정의부분에 전달되는값 
- 인수(argumants) : 함수를 호출할때 전달받는 입력값
- return : 함수의 결과값을 돌려주는 명령어
```

## 1. 매개변수와 return의 유무

In [10]:
def add(a, b) : 
    result = a + b
    return result

In [13]:
print(add(1, 1))

2

In [16]:
def Hamsu() : # 무조건 함수명 뒤에 ()빈괄호 넣어야함.
    print('test 함수입니다.') #함수가 실행할 값을 넣는 줄로 return이 아닌 print가 들어가 출력문만 보여줌.

In [6]:
Hamsu()

test 함수입니다.

In [17]:
print(Hamsu()) 
# return값 없이 출력만 되는 함수이기에 함수 출력되어 보여주고,
# python은 내부적으로 함수 가장 마지막 라인에 return None이 있다고 간주해서 None이 출력 된 것.

test 함수입니다.
None

### return X

In [24]:
def max_user(l) :
    max_n = l[0]  # 0번째 인덱스 값부터 시작해서 max_n에 넣음.
    
    for n in l : # 매개변수로 받은 list안의 인수에서부터 하나씩 n에 넣음.
        if max_n < n : # max_n에 들어간 0번째 list안의 인수가 매개변수로 받은 0번째 list안의 인수와 비교해서 작을 경우 인수 l의 n이 더 크기 때문에
            max_n = n  # max_n에 n을 넣어서 값을 더 큰 값으로 변경함.
            
    print(max_n) # 위의 list안의 인수가 다 돌아가고 마지막에 남은 제일 큰 값이 출력됨.(return이 아니라 내부 저장이 안되고 출력으로 보여주기만 함.)

In [25]:
max_user([1,3,5,2,4]) # max_user에서 제일 큰 값

5

In [29]:
max_num = max_user([1,3,5,2,4]) # max_num이 출력이 되는 걸 보면 함수에 값이 들어가지 않았음. why? return으로 내부에 값을 저장하지 않았기 때문!

5

In [30]:
max_num # 값이 들어가지 않아서 max_num이 보이지 않음. return으로 값을 넣어줘야함.

In [28]:
print(max_num) # 값이 없어서 print해서 봤을 때 마지막에 기본 값인 return None의 None이 출력됨을 확인할 수 있음.

None

### return O

In [20]:
def max_user2(l) :
    max_n = l[0]
    
    for n in l :
        if max_n < n :
            max_n = n
            
    return max_n # return으로 마지막에 max_n에 남은 값이 그대로 저장됨.

In [32]:
max_user2([1,3,5,2,4]) # max_user2에서 제일 큰 값

5

In [31]:
max_num = max_user2([1,3,5,2,4]) 
# return으로 함수 max_user에는 내부 지역변수 max_n에 마지막으로 저장된 값이 max_user에 저장되어 있고,
# 그 값을 그대로 다시 max_num에 넣었기 때문에 출력되지 않고 바로 max_num([1,3,5,2,4])으로 저장됨. 확인하려면 max_num을 출력해야함.

In [34]:
max_num # return이 없을 때 와 다르게 값이 있어서 출력되어 보여짐.

5

### 매개변수 X return X

In [35]:
def test() :
    print('test') # test()함수를 쓰면 print라는 내장함수가 'test'라는 문자열을 바로 출력함.

In [42]:
test(1) # 함수자체를 매개변수가 없이 만들었기 때문에 인수를 넣으면 error가 남.

TypeError: test() takes 0 positional arguments but 1 was given

In [38]:
print(test()) # test 함수는 return이 없이 print로 'test'를 바로 출력만 가능한 함수.

test
None

### 매개변수 O return X

In [40]:
def test2(a) :
    print(a)

In [45]:
test2() # 매개변수가 있는 함수인데 매개변수에 들어갈 인수를 넣어주지 않아서 error가 뜸.

TypeError: test2() missing 1 required positional argument: 'a'

In [44]:
test2(2) # 매개변수가 있기 때문에 인수로 들어온 숫자 2를 매개변수에 넣고 return값 없이 print(매개변수)이기에 매개변수=인수=2로 숫자 2가 출력됨.

2

In [43]:
print(test2(2)) # 그러나 print로 출력 시에는 return 값이 없기 때문에 기본으로 들어가는 return None의 None 값은 그대로 출력됨.

2
None

### 매개변수 X return O

In [46]:
def test3() :
    return 1+2

In [48]:
test3() # 매개변수가 없는 함수이기에 매개변수를 넣지 않아도 함수 안에 return된 1+2의 값이 출력됨.

3

In [51]:
test3(1) # 매개변수가 없는 함수이기 때문에 매개변수를 넣으면 error가 뜸.

TypeError: test3() takes 0 positional arguments but 1 was given

In [50]:
print(test3()) # return 값이 있기 때문에 return 값이 출력됨.

3

### 매개변수 O return O

In [53]:
def test4(a, b) :
    print('a:', a, 'b:',b)
    return a+b

In [55]:
test4() # 매개변수가 있어서 인수를 받아야하는데 ()안에 인수를 넣지 않아서 error가 뜸.

TypeError: test4() missing 2 required positional arguments: 'a' and 'b'

In [61]:
test4(2,2) # test4(a,b) 매개변수 a와 b에 2,2를 넣었고 그에 대한 print 출력과 return 값이 출력되어 보여짐. 내부에 저장된 상태는 아님.

a: 2 b: 2

4

In [63]:
test4_1 = test4(2,3) # test4(a,b) 매개변수 a와 b에 2,3을 넣었고 그에 대한 print 출력은 나왔으나, return값은 내부에 저장되었기에 출력되지 않음.

a: 2 b: 3

In [65]:
print(test4_1) # test4_1을 출력하면 위에서 내부에 저장된 return 값인 2+3 = '5'가 출력이 됨.

5

## 2. 디폴트 값 고정

### default 매개변수 O return O

In [72]:
def test5(a , b=1) :
    print('a:', a, 'b:',b)
    return a+b

In [79]:
test5() # b는 디폴트 값이 1로 들어가 있지만 a는 없기 때문에 인수를 받아야 함. 그래서 error가 남.

TypeError: test5() missing 1 required positional argument: 'a'

In [80]:
test5(2) # a에 인수 2를 받아서 2+1 로 3이 출력됨. 내부에 저장은 안됨.

a: 2 b: 1

3

In [82]:
test5(1,3) # b의 디폴트 값이 바뀔 수 있음. 내부에 저장은 안됨.

a: 1 b: 3

4

### *args

- args(argument) :  여러개의 인자를 한 번에 받음.
- *args : 여러개의 인자를 한 번에 tuple(2개 이상의 인자 모음)로 받음.

In [153]:
def test6(*args) : # 몇 개가 들어올지 모르는 매개변수는 *args로 씀! 대신 tuple로 받기에 list로 묶으면 [1,2,3] 밖에 ([1,2,3])튜플로 묶여서 주의!
    print(args)

In [160]:
test6(1,2,4,8,16,32,64,128) # 여러 가지 수를 넣을 수 있음.

(1, 2, 4, 8, 16, 32, 64, 128)

In [161]:
def yejin(*args) :
    ret = 0
    for i in args :
        ret += i
        
    return ret

In [166]:
print(type(yejin(1))) # 1개 인자는 int로 받아들임.
print(type(yejin(1,2))) # 인자가 2개 이상으로 tuple로 받아들였지만, 위에서 for문으로 튜플 속 int인자를 1개씩 빼내었기에 int 타입으로 변환됨.

<class 'int'>
<class 'int'>

In [171]:
a=(1,2,3,4)
print(a) # 출력된 모습이 () 대괄호 안에 들어가 tuple형식으로 출력됨.
print(type(a)) # type도 tuple인 것을 확인할 수 있음.

(1, 2, 3, 4)
<class 'tuple'>

In [172]:
def yejin2(a) :
    ret = 0
    for i in a :
        ret += i
        
    return ret

In [176]:
이진수 = (1,2,4,8,16,32,64,128)

In [183]:
yejin2(이진수)

255

In [185]:
yejin2(이진수,1) # 매개변수 a 한 개만 들어가 있는데 이진수, 1 로 두 개의 매개변수를 넣어서 error 뜸.

TypeError: yejin2() takes 1 positional argument but 2 were given

In [180]:
이진수_li = [1,2,4,8,16,32,64,128]

In [181]:
yejin2(이진수_li)

255

In [197]:
yejin(이진수_li) 
# 이진수_li가 [1,2,4,8,16,32,64,128]인 리스트 밖에 tuple로 묶여서 ([1,2,4,8,16,32,64,128])인 상태가 되었고,
# for i in ([1,2,4,8,16,32,64,128]) : 인 상태에서 list 밖의 tuple인 대괄호()만 벗겨져서 리스트 안의 인자가 하나씩 i에 들어가지 못하고 list가 통으로
#     ret += [1,2,4,8,16,32,64,128]   <-처럼 들어가게 되기 때문에  += 연산자가 리스트를 연산할 수 없어 error가 뜸.

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

### **kwargs
- kwargs(keyword argument) : 딕셔너리 형태로 여러개의 값이 들어올 수 있는 걸 처리하는 매개변수

In [244]:
def print_kwargs(**kwargs) : # 매개변수에 **kwargs를 사용함으로 딕셔너리 형태의 인자를 받을 수 있게 됨.
    print(kwargs)            # 들어온 매개변수를 출력해서 딕셔너리 형태로 볼 수 있도록 넣음.
    for key, value in kwargs.items():
        print(key, value, end=' ')

In [245]:
print_kwargs(a=1, b=2)

{'a': 1, 'b': 2}
a 1 b 2

In [246]:
print_kwargs(foo='a', bar='b', c=["a","b","a"]) # 딕셔너리 Key에는 list 불가능. Values에는 list 넣을 수 있음!

{'foo': 'a', 'bar': 'b', 'c': ['a', 'b', 'a']}
foo a bar b c ['a', 'b', 'a']

### 전역변수 지역변수

In [221]:
a = 1

def test(a) :
    scope_var = a + 1
    return(scope_var)

In [222]:
print(test(a))

2

In [223]:
scope_var #함수 test 안에서만 쓸 수 있는 지역변수로 선언되어 밖에서 따로 사용 불가

NameError: name 'scope_var' is not defined

In [227]:
def test2(a) : #위와 매개변수 명이 같지만 함수가 달라서 충돌 안남.
    a += 2
    return(a)

In [225]:
a = 1  
test2(1)

3

In [237]:
def test3() :
    global a # test3이라는 함수에 종속되지 않는 변수가 됨. "global 변수명"은 지역변수가 아니라 다른 곳에서도 다 통용가능한 전역변수로 바꿈!
    a += 1
    return(a)

In [204]:
a = 3

In [205]:
test3()

4

### 여러개의 return 값 사용

In [232]:
def test(a,b,c) :
    return a+b, a+c
#리턴을 여러개 하는 건 파이썬에서만 가능함! 다만 한 줄로 옆에 이렇게 값, 값... 해야지 줄바꾸고 다시 리턴 추가 불가능. 먼저나온 return에서 끝남!

In [233]:
test(1, 2, 3)

(3, 4)

In [234]:
ret1, ret2 = test(1, 2, 3) #함수 여러개가 변수를 같이 받을 수 있음.

In [235]:
ret1

3

In [236]:
ret2

4