In [223]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split #train test 나눠서 사용하겠다.
from sklearn.linear_model import LinearRegression # ~ 모델을 가져옴
from sklearn.metrics import mean_absolute_error # 정확도를 측정한 값 / 0에 가까울수록 정확도가 높음.
from sklearn.ensemble import GradientBoostingRegressor

In [224]:
cd C:\Users\user\Desktop\Python\221108

C:\Users\user\Desktop\Python\221108

In [225]:
data = pd.read_csv('insurance.csv')

In [226]:
data = data[data['bmi'] < 45]

In [227]:
data['sex'] = np.where((data['sex'] == 'female'), 1 ,0)

In [228]:
data['smoker'] = np.where((data['smoker'] == 'yes'), 1 , 0)

In [229]:
data['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [230]:
region = {'southwest' : 0,"southeast" :1 ,'northwest': 2,'northeast':3}
data['region'] = data['region'].map(region)

In [231]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       1       0  16884.92400
1      18    0  33.770         1       0       1   1725.55230
2      28    0  33.000         3       0       1   4449.46200
3      33    0  22.705         0       0       2  21984.47061
4      32    0  28.880         0       0       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       0       2  10600.54830
1334   18    1  31.920         0       0       3   2205.98080
1335   18    1  36.850         0       0       1   1629.83350
1336   21    1  25.800         0       0       0   2007.94500
1337   61    1  29.070         0       1       2  29141.36030

[1318 rows x 7 columns]

In [232]:
x= data.drop('charges',axis=1)

In [233]:
y = data['charges']

In [234]:
data.corr()

               age       sex       bmi  children    smoker    region   charges
age       1.000000  0.013915  0.118204  0.042339 -0.023240 -0.002674  0.304823
sex       0.013915  1.000000 -0.039558 -0.018328 -0.080873  0.002686 -0.066275
bmi       0.118204 -0.039558  1.000000  0.002356 -0.001546 -0.147134  0.198887
children  0.042339 -0.018328  0.002356  1.000000  0.010806 -0.014262  0.073087
smoker   -0.023240 -0.080873 -0.001546  0.010806  1.000000  0.004315  0.784321
region   -0.002674  0.002686 -0.147134 -0.014262  0.004315  1.000000  0.010430
charges   0.304823 -0.066275  0.198887  0.073087  0.784321  0.010430  1.000000

In [235]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

# x_train = 0.8% 훈련 y_train = 훈련시 나오는 보험료값 x_test -> 훈련시킬 나머지 값들 y_test-> 나머지값 훈련시켰을때 의 보험료값

In [236]:
data.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int64
charges     float64
dtype: object

In [237]:
model = LinearRegression()

In [238]:
model.fit(x_train, y_train) #학습

LinearRegression()

In [239]:
pre_train = model.predict(x_train) #학습한 x_train를 예측

In [240]:
mean_absolute_error(pre_train, y_train) #오차들의 합.

4073.262697720111

In [241]:
model.score(x_train, y_train) # 1에 가까울수록 정확하다.

0.7486195411801144

In [242]:
model.fit(x_test, y_test)

LinearRegression()

In [243]:
pre_test = model.predict(x_test)

In [ ]:
mean_absolute_error(pre_test, y_test)

In [244]:
model.score(x_test, y_test)

0.7597267791546254

In [245]:
model2 = GradientBoostingRegressor()

In [246]:
model2.fit(x_train, y_train)

GradientBoostingRegressor()

In [247]:
pre_train = model2.predict(x_train)

In [248]:
mean_absolute_error(pre_train, y_train)

1983.7404639618223

In [249]:
model2.score(x_train, y_train)

0.9034470454623518

In [250]:
pre_test = model2.predict(x_test)

In [251]:
mean_absolute_error(pre_test, y_test)

2562.733678856578

In [252]:
model2.score(x_test, y_test)

0.8629696175713407